*{
	margin: 0;
	padding: 0;
	padding-left: 20px;
}
.container{
	padding-left: 80px;
    background-color: #fff;
    width: 1400px;
    border: 15px solid #40e0d0;
    margin: 25px;
}

img{
	width: 100%;
	padding-top: 20px;
	padding-right: 70px;
}

.info{
	padding-top: 50px;
	background-color: #fff;
    width: 1200px;
    border: 15px solid #40e0d0;
    margin: 25px;
    padding-right: 50px;

}
