*{
	margin: 0;
	padding: 0;
}
.container{
    background-color: #fff;
    width: 1000px;
    border: 15px solid #40e0d0;
    margin: 25px;
}

.text{
    display: inline-block;
}

.College-logo
{
	width: 250px;
	height: 250px;
	padding-bottom: 50px;
}
.xyz{
	padding-left: 80px;
}